#box{
    margin: auto 5%;
    width: auto;
    height: auto;
}
#top{
    height: 85px;
    width: auto;
    margin: 0 auto;
}
#logo{
    width: 300px;
    height: auto;
    float:left;
}

#logo img{
     width: auto;
     height: auto;
     max-width: 100%;
     max-height: 100%;
}

#button{

    float:right;
    width: 800px;
    height: 35px;
    font-weight: bolder;
    color:#ffffff;
    font-size: 28px;
}

#button li{
    float:right; //讓清單元素靠左對齊,由垂直排列變成水平
    width: 178px;
    list-style-type: none; //去除清單文字前面的小點
    background-color: #ffffff;
    letter-spacing: 3px; //設定字距為2px
    text-align: center;
    
}
#button li a{
        　/* 連結範圍充滿整個區塊 */
    　　    display: block;
        
        　/* 單個連結範圍的框度和高度*/
          width: 300px;
        　height:50px;
          font-family: serif;
           /* 設定連結範圍向上的內距，依狀況調整 */
        　//padding-top:2px;
          text-decoration: none;
          color: #038b8b;
          margin-left: 25px;
          margin-right: 25px;
　　　}

#button li a:hover{
    background-color: #e2e2e2;
}

#photo{
    width: 1000px;
    height: 563px;
    margin: 0 auto;
    
}
#photo img{
     width: auto;
     height: auto;
     max-width: 100%;
     max-height: 100%;
}


#album ul{
    list-style:none;
    margin:20px auto
}
#album ul li{
    border-width:5px; 
    border-style:solid;
    border-color: #c6d1d3;
    float:left;
    height:200px;
    width:200px
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}
#album img{
     width: 200px;
     height: 200px;
     max-width: 100%;
     max-height: 100%;  
}