.panel-my{
    margin-left: 1%;
    margin-right: 1%;
    
}
.panel-heading{
    background-color:#7dc49a;
}

.panel-heading h4{
    color:#fff;
}

.table-my tbody tr:nth-child(odd) {
  background-color:rgb(211, 237, 221);
}
.bus{
    height: 35px;
    width: 35px;
}

.map{
    height: 35px;;
    width: 35px;
}

.road{
display: block;
  margin: auto;
    width: 100%;
    height: 100%;
}
.navbar navbar-default {
  margin-bottom: 0px;
}
.carousel-inner{
    height: 400px;
  margin-bottom: 30px;
    padding: 0 0 0 0;
    
}
.test{
    background:url(../img/jp.jpg) no-repeat center center;
  background-size: cover;
     height: 400px;
  margin-bottom: 30px;
    padding: 0 0 0 0;
    
}
.jumbotron{
  background:url(../img/jp.jpg) no-repeat center center;
  background-size: cover;
  height: 400px;
  padding: 0;
}

.jumbotron .tagline {
  color: #fff;
  font-size: 42px;
  text-shadow: 0 0 10px #000;
}

.jumbotron .lead {
  color: #ccc;
}

.box {
  color: #433955;
  margin-bottom: 20px;
  min-height: 200px;
  text-align: center;
}

.box img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: block;
  width: 100%;
  overflow: hidden;
}

.box .box-heading {
  max-height: 175px;
  overflow: hidden;
}
.box .box-body {
  border: 2px solid  #eaedf2;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 10px 20px 10px;
}

@media (max-width: 768px) {
  .navbar-right form {
    display: none;
  }
}

@media (max-width: 568px) {
  .jumbotron {
    text-align: center;
  }
    footer {
    text-align: center;
  }
}
